
<div class="jumbotron">
	<p>Welcome to the Musician App, this a simple Ember app that displays a list of musicians and their respective bands from some JSON data. Click to button below to get started.
	</p>
	{{#link-to "musicians" tagName="button" class="btn btn-lg btn-primary" }}Let's Go!{{/link-to}}
</div>